/* Global */

:root {
  --main-red: rgba(211, 9, 19);
  --main-carnage: rgba(190,9,20);
  --main-dark: rgba(20,20,20);
  --main-deep-dark: rgba(0,0,0);
  --main-grey: rgba(153,153,153);
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Helvetica', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header Section */

.header-container {
  width: 100vw;
  height: 90vh;
  position: relative;
  background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),
  url(../resources/images/bg.jpg) no-repeat center center/cover;
}
.header-container::after {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,  -4.375rem -3.125rem -11.875rem;
}