

.tab-icon-door {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: var(--main-grey);
}

.tab-icon-devices {
    width: 9.6875rem;
    height: 9.6875rem;
    fill: var(--main-grey);
}

.tab-icon-prices {
    width: 4.375rem;
    height: 4.375rem;
    fill: var(--main-grey);
}

.tabs {
    padding-top: 1rem;
}

.tab-nav-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    align-content: center;
    grid-gap: 1rem;
    text-align: center;
    list-style: none;
    color: var(--main-grey);
   

}

ul li:hover {
    color: #fff;
    cursor: pointer;
}

ul li:hover svg path {
    fill: #fff;
    cursor: pointer;
}

.active {
    border-bottom: 4px solid var(--main-red);
}

.tab-selected {
    color: #fff
}

.tab-selected svg path {
    fill: #fff;
}

@media (max-width: 900px) {
    .tab-icon-door {
        width: 2.4rem;
        height: 2.4rem;
    }
    .tab-icon-devices {
        width: 8rem;
        height: 8rem;
    }
    .tab-icon-prices {
        width: 2.4rem;
        height: 2.4rem;
    }
}


@media (min-width: 900px) {
    .mdScreen {
        display: none;
    }
}

@media (max-width: 900px) {
    .lgScreen {
        display: none;
    }

    .mdScreen {
        margin-bottom: 0.4rem;
    }
}